@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$projectWhite: #eeeeee;
$projectRed: #541212;

* {
    font-family: "Poppins", sans-serif;
    background: #060606;
}

body {
    margin: 0;
}

// Navigation Bar Styling
.navbar {
    position: sticky;
    top: 0;
    background-color: #0005;
    color: $projectWhite;
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 100px 20px;
        .name {
            font-weight: 500;
            font-size: 18px;
        }
        .right-nav {
            .about,
            .skills,
            .project {
                margin-right: 70px;
                cursor: pointer;
            }
            .contact {
                cursor: pointer;
            }
        }
    }
}

// HomePage Styling
.home {
    color: $projectWhite;
    // Name, Designation & Image Styling
    .description-img {
        display: flex;
        justify-content: space-between;
        margin: 0 0 200px 100px;
        .left-description {
            padding-top: 160px;
            font-style: normal;
            font-weight: 700;
            .hello-name {
                font-size: 80px;
                line-height: 120%;
            }
            .designation {
                font-size: 36px;
                line-height: 350%;
            }
        }
    }

    // About me Styling
    .about-img {
        display: flex;
        margin: 0 0 200px 100px;
        .about {
            margin-top: 50px;
            margin-right: 100px;
            font-style: normal;
            font-weight: 700;
            .about-me {
                font-size: 48px;
                line-height: 120px;
                padding-left: 150px;
            }
            .about-me-description {
                font-size: 24px;
                line-height: 150%;
                width: 588px;
                height: 216px;
                padding-left: 150px;
                font-weight: 400;
                span {
                    font-weight: 700;
                    span {
                        color: #8b9a46;
                    }
                }
            }
            .btn-resume {
                background: $projectRed;
                color: $projectWhite;
                padding: 8px 24px;
                border-radius: 8px;
                border: $projectRed;
                font-size: 15px;
                text-decoration: underline;
                margin: 30px 0 0 150px;
                cursor: pointer;
            }
        }
    }

    // Skills Styling
    .skillset {
        margin: 0 120px 100px 100px;
        .skillset-headline {
            margin-left: 310px;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
        }
        .skillset-description {
            margin: 40px 0 70px 340px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            width: 695px;
        }
        // Figma Html Css Row
        .figma-html-css {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            // Figma
            .figma {
                display: flex;
                .figma-icon {
                    .figma-img {
                        width: 25.85px;
                        height: 32px;
                    }
                }
                .figma-progress-bar {
                    margin: 7px 20px 0 20px;
                }
                .figma-progress {
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            // Html
            .html {
                display: flex;
                .html-icon {
                    .html-img {
                        width: 32px;
                        height: 32px;
                    }
                }
                .html-progress-bar {
                    margin: 7px 20px 0 20px;
                }
                .html-progress {
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            // CSS
            .css {
                display: flex;
                .css-icon {
                    .css-img {
                        width: 32px;
                        height: 32px;
                    }
                }
                .css-progress-bar {
                    margin: 7px 20px 0 20px;
                }
                .css-progress {
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
        // Sass Tailwind JS Row
        .sass-tailwind-js {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            // Sass
            .sass {
                display: flex;
                .sass-icon {
                    .sass-img {
                        width: 31.82px;
                        height: 32px;
                    }
                }
                .sass-progress-bar {
                    margin: 7px 20px 0 20px;
                }
                .sass-progress {
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            // Tailwind CSS
            .tailwind {
                display: flex;
                .tailwind-icon {
                    .tailwind-img {
                        width: 31.82px;
                        height: 32px;
                    }
                }
                .tailwind-progress-bar {
                    margin: 7px 20px 0 20px;
                }
                .tailwind-progress {
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            // JS
            .js {
                display: flex;
                .js-icon {
                    .js-img {
                        width: 31.82px;
                        height: 32px;
                    }
                }
                .js-progress-bar {
                    margin: 7px 20px 0 20px;
                }
                .js-progress {
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
        // React Row
        .react {
            margin-left: 478px;
            display: flex;
            .react-icon {
                .react-img {
                    width: 31.82px;
                    height: 32px;
                }
            }
            .react-progress-bar {
                margin: 7px 20px 0 20px;
            }
            .react-progress {
                margin-top: 4px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
            }
        }
    }

    // Take a Look at Work Styling
    .check-out {
        display: flex;
        margin: 60px 100px 200px 440px;
        .take-a-look {
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 72px;
        }
        // Click Here Button Styling
        .div-btn-click-here {
            .btn-click-here {
                padding: 8px 24px;
                margin: 65px 0 0 20px;
                color: $projectWhite;
                background: $projectRed;
                border-radius: 8px;
                border: $projectRed;
                cursor: pointer;
            }
        }
    }

    // Connect With Me Styling
    .connection {
        margin: 0 100px 200px;
        .connection-headline {
            width: 416px;
            height: 62px;
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 72px;
            margin: 0 0 150px 450px;
        }
        .connection-applications {
            display: flex;
            // Gmail
            .gmail {
                margin-left: 250px;
                .gmail-img {
                    width: 135px;
                    height: 94px;
                    padding-left: 35px;
                }
                // Gmail id
                .gmail-id {
                    padding-top: 20px;
                }
            }
            // Phone
            .phone {
                margin-left: 62px;
                .phone-img {
                    width: 135px;
                    height: 94px;
                }
                // Phone Number
                .phone-number {
                    padding-top: 20px;
                }
            }
            // LinkedIn
            .linkedin {
                margin-left: 62px;
                .linkedin-img {
                    width: 135px;
                    height: 94px;
                    padding-left: 5px;
                }
                // LinkedIn Profile Link
                a {
                    display: block;
                    padding-top: 20px;
                    color: #eeeeee;
                }
            }
            // Github
            .github {
                margin-left: 62px;
                .github-img {
                    width: 135px;
                    height: 94px;
                }
                // Github Profile Link
                a {
                    display: block;
                    padding: 20px 0 0 30px;
                    color: #eeeeee;
                }
            }
        }
    }
    // Send a Message Form Styling
    form {
        margin: 0 100px 200px 630px;
        .form-title {
            margin-bottom: 70px;
            h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 45px;
                margin: 0;
            }
            .underline {
                width: 330px;
                height: 6px;
                margin-left: 20px;
                background: $projectRed;
                border-radius: 6px;
            }
        }
        .name {
            .name-label {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
            }
            .input-name {
                display: block;
                width: 400px;
                height: 40px;
                background: #1e1e1e;
                border-radius: 8px;
                border: #1e1e1e;
            }
        }
    }

    footer {
        .footer-icons {
            margin: 0 100px 0 630px;
        }
        .copyright {
            margin: 0 100px 0px 630px;
        }
        .footer-vector {
            img {
                width: 100%;
            }
        }
    }
}
