@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  background: #060606;
}

body {
  margin: 0;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0005;
  color: #eeeeee;
}

.navbar .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px 20px;
}

.navbar .nav-wrapper .name {
  font-weight: 500;
  font-size: 18px;
}

.navbar .nav-wrapper .right-nav .about,
.navbar .nav-wrapper .right-nav .skills,
.navbar .nav-wrapper .right-nav .project {
  margin-right: 70px;
  cursor: pointer;
}

.navbar .nav-wrapper .right-nav .contact {
  cursor: pointer;
}

.home {
  color: #eeeeee;
}

.home .description-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 200px 100px;
}

.home .description-img .left-description {
  padding-top: 160px;
  font-style: normal;
  font-weight: 700;
}

.home .description-img .left-description .hello-name {
  font-size: 80px;
  line-height: 120%;
}

.home .description-img .left-description .designation {
  font-size: 36px;
  line-height: 350%;
}

.home .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 200px 100px;
}

.home .about-img .about {
  margin-top: 50px;
  margin-right: 100px;
  font-style: normal;
  font-weight: 700;
}

.home .about-img .about .about-me {
  font-size: 48px;
  line-height: 120px;
  padding-left: 150px;
}

.home .about-img .about .about-me-description {
  font-size: 24px;
  line-height: 150%;
  width: 588px;
  height: 216px;
  padding-left: 150px;
  font-weight: 400;
}

.home .about-img .about .about-me-description span {
  font-weight: 700;
}

.home .about-img .about .about-me-description span span {
  color: #8b9a46;
}

.home .about-img .about .btn-resume {
  background: #541212;
  color: #eeeeee;
  padding: 8px 24px;
  border-radius: 8px;
  border: #541212;
  font-size: 15px;
  text-decoration: underline;
  margin: 30px 0 0 150px;
  cursor: pointer;
}

.home .skillset {
  margin: 0 120px 100px 100px;
}

.home .skillset .skillset-headline {
  margin-left: 310px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.home .skillset .skillset-description {
  margin: 40px 0 70px 340px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  width: 695px;
}

.home .skillset .figma-html-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.home .skillset .figma-html-css .figma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .figma-html-css .figma .figma-icon .figma-img {
  width: 25.85px;
  height: 32px;
}

.home .skillset .figma-html-css .figma .figma-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .figma-html-css .figma .figma-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .skillset .figma-html-css .html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .figma-html-css .html .html-icon .html-img {
  width: 32px;
  height: 32px;
}

.home .skillset .figma-html-css .html .html-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .figma-html-css .html .html-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .skillset .figma-html-css .css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .figma-html-css .css .css-icon .css-img {
  width: 32px;
  height: 32px;
}

.home .skillset .figma-html-css .css .css-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .figma-html-css .css .css-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .skillset .sass-tailwind-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.home .skillset .sass-tailwind-js .sass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .sass-tailwind-js .sass .sass-icon .sass-img {
  width: 31.82px;
  height: 32px;
}

.home .skillset .sass-tailwind-js .sass .sass-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .sass-tailwind-js .sass .sass-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .skillset .sass-tailwind-js .tailwind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .sass-tailwind-js .tailwind .tailwind-icon .tailwind-img {
  width: 31.82px;
  height: 32px;
}

.home .skillset .sass-tailwind-js .tailwind .tailwind-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .sass-tailwind-js .tailwind .tailwind-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .skillset .sass-tailwind-js .js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .sass-tailwind-js .js .js-icon .js-img {
  width: 31.82px;
  height: 32px;
}

.home .skillset .sass-tailwind-js .js .js-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .sass-tailwind-js .js .js-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .skillset .react {
  margin-left: 478px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .skillset .react .react-icon .react-img {
  width: 31.82px;
  height: 32px;
}

.home .skillset .react .react-progress-bar {
  margin: 7px 20px 0 20px;
}

.home .skillset .react .react-progress {
  margin-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.home .check-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 100px 200px 440px;
}

.home .check-out .take-a-look {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 72px;
}

.home .check-out .div-btn-click-here .btn-click-here {
  padding: 8px 24px;
  margin: 65px 0 0 20px;
  color: #eeeeee;
  background: #541212;
  border-radius: 8px;
  border: #541212;
  cursor: pointer;
}

.home .connection {
  margin: 0 100px 200px;
}

.home .connection .connection-headline {
  width: 416px;
  height: 62px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 72px;
  margin: 0 0 150px 450px;
}

.home .connection .connection-applications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .connection .connection-applications .gmail {
  margin-left: 250px;
}

.home .connection .connection-applications .gmail .gmail-img {
  width: 135px;
  height: 94px;
  padding-left: 35px;
}

.home .connection .connection-applications .gmail .gmail-id {
  padding-top: 20px;
}

.home .connection .connection-applications .phone {
  margin-left: 62px;
}

.home .connection .connection-applications .phone .phone-img {
  width: 135px;
  height: 94px;
}

.home .connection .connection-applications .phone .phone-number {
  padding-top: 20px;
}

.home .connection .connection-applications .linkedin {
  margin-left: 62px;
}

.home .connection .connection-applications .linkedin .linkedin-img {
  width: 135px;
  height: 94px;
  padding-left: 5px;
}

.home .connection .connection-applications .linkedin a {
  display: block;
  padding-top: 20px;
  color: #eeeeee;
}

.home .connection .connection-applications .github {
  margin-left: 62px;
}

.home .connection .connection-applications .github .github-img {
  width: 135px;
  height: 94px;
}

.home .connection .connection-applications .github a {
  display: block;
  padding: 20px 0 0 30px;
  color: #eeeeee;
}

.home form {
  margin: 0 100px 200px 630px;
}

.home form .form-title {
  margin-bottom: 70px;
}

.home form .form-title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  margin: 0;
}

.home form .form-title .underline {
  width: 330px;
  height: 6px;
  margin-left: 20px;
  background: #541212;
  border-radius: 6px;
}

.home form .name .name-label {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.home form .name .input-name {
  display: block;
  width: 400px;
  height: 40px;
  background: #1e1e1e;
  border-radius: 8px;
  border: #1e1e1e;
}

.home footer .footer-icons {
  margin: 0 100px 0 630px;
}

.home footer .copyright {
  margin: 0 100px 0px 630px;
}

.home footer .footer-vector img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */